<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Ton profil</h1>
          <p><a class="btn btn-success btn-lg pe-none" role="button"><%= @user.first_name %> <%= @user.last_name %></a></p>
        </div>
      </div>

      <div class="container mt-5">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Toi</h2>
              <ul>
                <li>Description : <%= @user.bio %></li>
                <li>Email :  <%= @user.email %></li>
              </ul>
          </div>
          <div class="col-md-4">
            <h2>Tes events crées</h2>
              <ul>
                <% @user.organized_events.each do |event| %>
                <li>Titre : <%= event.title %> <%= link_to "voir", event_path(event.id) %></li>
                <% end %>
              </ul>
          </div>
          <div class="col-md-4">
            <h2>Tes paramètres</h2>
              <%= link_to "Modifier tes identifiants", edit_user_registration_path(@user.id), class: "btn btn-danger" %>
              <%= link_to "Modifier tes infos", edit_user_path(@user.id), class: "btn btn-primary" %>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>