<h1>Accueil du Events Project !</h1>
<p>Consulte tous nos évènements exclusifs:</p>

<% @events.each.with_index do |event,i|%>

    <div class="card my-3">

      <div class="card-header">
        Evenement n°<%= i+1 %>
      </div>

      <div class="container-fluid row">

        <div class="card-body col-8">        
          <h5 class="card-title">Nom de l'évenement : <%= event.title %></h5>
          <p class="card-text">Débute le : <%= event.start_date %></p>
          <p class="card-text">Durée de l'évènement : <%= event.duration %></p>
          <p class="card-text">Lieu : <%= event.location %></p>
          <p class="card-text">Prix : <%= event.price %></p>
          <p class="card-text">Organisateur : <%= event.admin.first_name %></p>

        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <p><%= link_to 'Voir plus', event_path(event) %></p>
 
            
        </div>


      </div>

    </div> 

  <%end%>

</div>

<p>Je te vois venir...</p>
<h3>Toi aussi tu veux <%= link_to 'lancer une nouvelle rumeur', new_event_path %></h3>