<!DOCTYPE html>
<html>
  <head>
    <title>EventProjectMardi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#rails= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 
   </head>

  <body>
    <header>    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="root_path">The Events Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Créer un Évènement</a>
              </li>

              <!-- si l'utilisateur est logged_in -->
              <% if current_user %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mon Profil
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item"><%= link_to 'Voir mon Profil', user_path(current_user) %></li>
                    <li><%= button_to "Se déconnecter", destroy_user_session_path, :method=>:delete, class:"dropdown-item" %></li>
                  </ul>
                </li>

              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Connexion
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item"><%= link_to 'Créer un compte', new_user_session_path %></li>
                    <li class="dropdown-item"><%= link_to 'Se Connecter', new_user_registration_path %></li>
                  </ul>
                </li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>  
    </header>

    <% flash.each do |type, msg| %>
      <div class="alert alert-warning" role="alert">
         <%= msg %>
      </div>
    <% end %>


    <%= yield %>

<footer class="container">
      <p>Eventbrite-like Project by Nicolas Cubilier | THP - Session Printemps 2022</p>
    </footer>


    <!-- JS POUR BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


  </body>
</html>